@import "~@material/icon-button/mixins";
@import "~@material/list/mixins";

.list-todo {
  height: 100vh;
  background-color: $color-primary;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  &__logo {
    text-decoration: none;
    color: $color-text;
    text-align: center;

    & > img {
      height: 2rem;
    }
  }

  &__card {
    padding: 2rem 2rem 2.5rem;
    position: relative;
    max-height: calc(100vh - 6rem);
    margin-bottom: 28px;

    @media (min-width: map_get(map_get($breakpoints, "xl"), "begin")) {
      width: 40%;
    }

    @media (min-width: map_get(map_get($breakpoints, "lg"), "begin")) and (max-width: map_get(map_get($breakpoints, "lg"), "end")) {
      width: 60%;
    }

    @media (min-width: map_get(map_get($breakpoints, "md"), "begin")) and (max-width: map_get(map_get($breakpoints, "md"), "end")) {
      width: 70%;
    }

    @media (max-width: map_get(map_get($breakpoints, "md"), "begin")) {
      width: 90%;
    }

    & > .list-todo__btn--add {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  &__list {
    overflow-y: auto;
    @include mdc-list-item-secondary-text-ink-color($color-primary);
  }

  &__list-item {
    height: 82px !important;
    padding: 0 !important;

    & > .mdc-list-item__text {
      align-self: flex-start;
      max-width: calc(100% - 232px);

      .mdc-list-item__primary-text {
        margin-bottom: -10px !important;
      }

      @media (max-width: map_get(map_get($breakpoints, "md"), "begin")) {
        max-width: calc(100% - 120px);
      }
    }
  }

  &__list-item > &__list-item-label--checked {
    text-decoration: line-through;
  }

  &__list-item-actions > &__btn:not(:last-of-type) {
    margin-right: 1rem;
  }

  &__list-item-actions > &__btn {
    @include noselect;

    &--show,
    &--edit,
    &--delete,
    &--menu {
      @include mdc-icon-button-ink-color($color-accent);
    }
  }

  &__menu {
    .mdc-list-item {
      height: 48px !important;
      .mdc-list-item__text {
        align-self: center !important;
      }
    }
  }
}
